.footer-container {
    position: relative;
}

.footer {
    position: absolute;
    top: 12rem;
    left: 0;
    width: 100%;
    z-index: 1; /* Ensure footer is above SVG */
}

.footer svg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; /* Ensure SVG is behind footer */
}

.footer-name {
    font-size: 21px;
    font-weight: 700;
    color: white;
}
